* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 34, 57);
    color: peru;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
}

header,
footer {
    background-color: rgb(32, 47, 82);
}

header {
    font-size: 36px;
    font-weight: bold;
    padding: 8px;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

.main-header {
    display: flex;
    justify-content: space-between;

    & div {
        font-weight: bold;
        font-size: 24px;
    }
}  
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

td > input {
    display: block;
    margin: auto;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

input[type=checkbox] {
    accent-color: peru;
}

button {
    background-color: peru;
    padding: 2px 8px;
    border: none;
    color: white;
    font-weight: bold;

    &:hover {
        background-color: orange;
    }
}

.modalOverlay{
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalContent {
    background-color: rgb(32, 47, 82);
    padding: 24px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ff8c42;
}

.bookForm {
    display: flex;
    flex-direction: column;

    label {
        font-weight: bold;
        margin-top: 8px;
    }

    input {
        border-radius: 4px;
        padding: 4px;
        border: none;
    }

    button {
        margin-top: 16px;
        border: none;
        border-radius: 4px;
        padding: 4px;
        font-weight: bold;
        font-size: 1em;
        color: white;
    }
    
}

#closeButton {
    float: right;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        color: orange;
    }
}

#readLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    input {
        transform: scale(1.1); 
    }
}

footer {
    font-size: 14px;
    text-align: center;
    Padding: 8px;
    font-weight: bold;
}
